In [1]:
import pandas as pd
from ucimlrepo import fetch_ucirepo

In [2]:
adult = fetch_ucirepo(id=2) 
# data (as pandas dataframes) 
x = adult.data.features 
y = adult.data.targets

print(x.head())
print(y.head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country
0          2174             0              40  United-States
1             0             0              13  United-States
2             0             0              40  United-States
3             0             0              40  United-States
4             0             0              40           Cuba
  income
0  <=50K
1  <=50K
2  <=50K
3  <=50K
4  <=50K

In [3]:
x_data = x
y_data = y

In [4]:
print(x_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       47879 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      47876 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48568 non-null  object
dtypes: int64(6), object(8)
memory usage: 5.2+ MB
None

In [5]:
print(y.income.unique())

['<=50K' '>50K' '<=50K.' '>50K.']

In [6]:
y.replace({'income': {'<=50K.': '<=50K', '>50K.': '>50K'}})

      income
0      <=50K
1      <=50K
2      <=50K
3      <=50K
4      <=50K
...      ...
48837  <=50K
48838  <=50K
48839  <=50K
48840  <=50K
48841   >50K

[48842 rows x 1 columns]

In [7]:
y.income.unique()

array(['<=50K', '>50K', '<=50K.', '>50K.'], dtype=object)

In [8]:
x_data['income'] = y.income

In [9]:
x_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## 1. Calculate the average age for each education level, but only include education levels with more than 1000 individuals.

In [58]:
res = x_data.groupby('education').age.count()

In [59]:
res = res[res > 1000].index.tolist()

In [60]:
res

['10th',
 '11th',
 'Assoc-acdm',
 'Assoc-voc',
 'Bachelors',
 'HS-grad',
 'Masters',
 'Some-college']

In [61]:
ages = x_data.loc[x_data['education'].isin(res) ]
ages

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States

In [62]:
ages = ages.groupby('education')['age'].mean()

In [63]:
ages

education
10th            37.902808
11th            32.141832
Assoc-acdm      37.777014
Assoc-voc       38.651140
Bachelors       38.896324
HS-grad         39.073809
Masters         44.006775
Some-college    35.677055
Name: age, dtype: float64

## 2. Identify the top 3 most common occupations for individuals earning more than 50K.

In [83]:
x_data.loc[x_data['income'] == '>50K'].groupby('occupation').income.count().sort_values(ascending=False).head(3)

occupation
Exec-managerial    2908
Prof-specialty     2784
Sales              1475
Name: income, dtype: int64

----

## 3. For each workclass, calculate the mean of the total number of hours worked by all individuals. Consider only the workclass values of "Private" and "Self-emp-not-inc".

In [16]:
x_data.groupby('workclass')['hours-per-week'].mean().loc[["Private", "Self-emp-not-inc"]]

workclass
Private             40.273137
Self-emp-not-inc    44.395132
Name: hours-per-week, dtype: float64

## 4. For each individual, calculate their total capital gain and the number of unique occupations they've had.

In [19]:
x_data.fnlwgt.unique().shape

(28523,)

----

In [10]:
import psycopg2
from sqlalchemy import create_engine


engine = create_engine("postgresql+psycopg2://postgres:postgres@localhost:5432/strata_mod")

In [12]:
x_data.to_sql("adults", engine, if_exists="replace", index=False)

842

In [14]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM adults LIMIT 5"))
    for row in result:
        print(row)

(39, 'State-gov', 77516, 'Bachelors', 13, 'Never-married', 'Adm-clerical', 'Not-in-family', 'White', 'Male', 2174, 0, 40, 'United-States', '<=50K')
(50, 'Self-emp-not-inc', 83311, 'Bachelors', 13, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 0, 0, 13, 'United-States', '<=50K')
(38, 'Private', 215646, 'HS-grad', 9, 'Divorced', 'Handlers-cleaners', 'Not-in-family', 'White', 'Male', 0, 0, 40, 'United-States', '<=50K')
(53, 'Private', 234721, '11th', 7, 'Married-civ-spouse', 'Handlers-cleaners', 'Husband', 'Black', 'Male', 0, 0, 40, 'United-States', '<=50K')
(28, 'Private', 338409, 'Bachelors', 13, 'Married-civ-spouse', 'Prof-specialty', 'Wife', 'Black', 'Female', 0, 0, 40, 'Cuba', '<=50K')

In [15]:
def query(sql):
    with engine.connect() as conn:
        result = conn.execute(text(sql))
        for row in result:
            print(row)

In [25]:
# 1 
query("select education, avg(age) from ("
      "select * from adults "
      "where education in ("
      "select education from ("
      "select education, count(*) as ed_count from adults group by education)"
      "where ed_count > 1000))"
      "group by education")

('Assoc-voc', Decimal('38.6511402231926249'))
('10th', Decimal('37.9028077753779698'))
('HS-grad', Decimal('39.0738089204257476'))
('Masters', Decimal('44.0067745577719232'))
('Bachelors', Decimal('38.8963239875389408'))
('11th', Decimal('32.1418322295805740'))
('Assoc-acdm', Decimal('37.7770143660212367'))
('Some-college', Decimal('35.6770546056260342'))